.loader-container {
  position: fixed;
  display: flex;
  width: 50%;

  justify-content: center;
}

.loader-container img {
  margin-top: 150px;
  align-items: center;
  width: 400px;
  height: 400px;
}
