.App {
  height: 100%;
}

.App-main-page-content {
  display: flex;
}

.navbar,
.suggestions {
  width: 25%;
}

.home,
.bookmark,
.single-post {
  width: 50%;
  border: 1px solid #4286f4;
  height: 100%;
}
